<h2>Edit your task</h2>

<div class="container">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title %>
    <%= f.label :details %>
    <%= f.text_field :details %>
    <%= f.check_box :completed%>
    <%= f.number_field :completed %>
    <%= f.submit %>
  <% end %>
</div>

<div class="task">
  <%= link_to tasks_path do%>
    <p>Show all my tasks</p>
  <%end%>
</div>
