<h2>Edit your task</h2>

<div class="container">
  <%= form_with model: @task do |f| %>
    <%= f.label :title %>
    <%= f.text_field :title, :style => "width:200px"%>
    <%= f.label :details %>
    <%= f.text_field :details, :style => "width:400px" %>
    <%= f.check_box :completed%>
    <%= f.label :completed %>
    <%= f.submit %>
  <% end %>
</div>

<div class="task">
  <%= link_to tasks_path do%>
    <p>Show all my tasks</p>
  <%end%>
</div>
