<h2><%= @task.title %></h2>
<div class="colored-div-details">
  <p><%= @task.details %></p>
</div>

<div class="container">
  <p><%=  @task.completed == true ? "Completed" : "Not completed yet"%></p>
</div>

<div class="task-actions">

  <div class="task">
    <%= link_to "Show all my tasks", tasks_path %>
  </div>

  <div class="task">
    <%= link_to "Add new task", task_new_path %>
  </div>

  <div class="task">
    <%= link_to "Edit task", task_edit_path %>
  </div>

  <div class="task">
    <%= link_to "Delete",
      task_path(@task),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </div>
</div>
